
body{
  margin:0;

  .header{
    border-bottom: solid grey 2px;
  }
  .headerfooter{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;

    .loggotitel{
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .logo{
        background-color: grey;
        width: 50px;
        height: 50px;
        border-radius: 25px;
      }
    }

    .sök{
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      .sökbar{
        background-color: lightgray;
        width: 70%;
        height:25px;
        border-style: solid;
        border: none;
      }
    }

    .headernav{
      width: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .headernavigation{
        font-size: 25px;
        color: black;
        text-decoration: none;
      }
    }
  }

  .main{
    width: 100;
    height: 600px;
  }

  .footer{
    background-color: grey;
  }
}